node_modules/
*.DS_Store

/.vscode/
/dev-cert/

/viewer/.cache/
/viewer/dist/

/uploads/

/blender/__pycache__/

/examples/*.jpg
/examples/*.png
/examples/*.gltf
/examples/*.bin
/examples/*.blend[0-9]
